DataCleaning/raw/Ireland/H10_W.csv
DataCleaning/raw/Portugal/power_samples_d1_1.csv
DataCleaning/raw/Portugal/power_samples_d1_2.csv
DataCleaning/raw/Portugal/power_samples_d2_1.csv
DataCleaning/raw/Portugal/power_samples_d2_2.csv
DataCleaning/raw/Portugal/power_samples_d2_3.csv
DataCleaning/raw/Portugal/power_samples_d2_4.csv
DataCleaning/raw/Portugal/power_samples_d2_5.csv
DataCleaning/raw/Ireland/H11_W.csv
DataCleaning/raw/Ireland/H12_W.csv
DataCleaning/raw/Ireland/H13_W.csv
DataCleaning/raw/Ireland/H14_W.csv
DataCleaning/raw/Ireland/H15_W.csv
DataCleaning/raw/Ireland/H16_W.csv
DataCleaning/raw/Ireland/H17_W.csv
DataCleaning/raw/Ireland/H18_W.csv
DataCleaning/raw/Ireland/H19_W.csv
DataCleaning/raw/Ireland/H1_W.csv
DataCleaning/raw/Ireland/H20_W.csv
DataCleaning/raw/Ireland/H2_W.csv
DataCleaning/raw/Ireland/H3_W.csv
DataCleaning/raw/Ireland/H4_W.csv
DataCleaning/raw/Ireland/H5_W.csv
DataCleaning/raw/Ireland/H6_W.csv
DataCleaning/raw/Ireland/H7_W.csv
DataCleaning/raw/Ireland/H8_W.csv
DataCleaning/raw/Ireland/H9_W.csv
DataCleaning/raw/Portugal/environment.csv
DataCleaning/raw/Germany/2018_data_15min.hdf5
DataCleaning/raw/Germany/2018_data_spatial.hdf5
DataCleaning/raw/Germany/2018_district_heating_grid.hdf5
DataCleaning/raw/Germany/2018_weather.hdf5
DataCleaning/raw/Germany/2019_data_15min.hdf5
DataCleaning/raw/Germany/2019_weather.hdf5
DataCleaning/raw/Germany/2020_data_15min.hdf5
DataCleaning/raw/Germany/2020_weather.hdf5
