DataCleaning/raw/Ireland/H10_W.csv
DataCleaning/raw/Portugal/power_samples_d1_1.csv
DataCleaning/raw/Portugal/power_samples_d1_2.csv
DataCleaning/raw/Portugal/power_samples_d2_1.csv
DataCleaning/raw/Portugal/power_samples_d2_2.csv
DataCleaning/raw/Portugal/power_samples_d2_3.csv
DataCleaning/raw/Portugal/power_samples_d2_4.csv
DataCleaning/raw/Portugal/power_samples_d2_5.csv
DataCleaning/raw/Ireland/H11_W.csv
DataCleaning/raw/Ireland/H12_W.csv
DataCleaning/raw/Ireland/H13_W.csv
DataCleaning/raw/Ireland/H14_W.csv
DataCleaning/raw/Ireland/H15_W.csv
DataCleaning/raw/Ireland/H16_W.csv
DataCleaning/raw/Ireland/H17_W.csv
DataCleaning/raw/Ireland/H18_W.csv
DataCleaning/raw/Ireland/H19_W.csv
DataCleaning/raw/Ireland/H1_W.csv
DataCleaning/raw/Ireland/H20_W.csv
DataCleaning/raw/Ireland/H2_W.csv
DataCleaning/raw/Ireland/H3_W.csv
DataCleaning/raw/Ireland/H4_W.csv
DataCleaning/raw/Ireland/H5_W.csv
DataCleaning/raw/Ireland/H6_W.csv
DataCleaning/raw/Ireland/H7_W.csv
DataCleaning/raw/Ireland/H8_W.csv
DataCleaning/raw/Ireland/H9_W.csv
DataCleaning/raw/Portugal/environment.csv
DataCleaning/raw/Germany/2018_data_15min.hdf5
DataCleaning/raw/Germany/2018_data_spatial.hdf5
DataCleaning/raw/Germany/2018_district_heating_grid.hdf5
DataCleaning/raw/Germany/2018_weather.hdf5
DataCleaning/raw/Germany/2019_data_15min.hdf5
DataCleaning/raw/Germany/2019_weather.hdf5
DataCleaning/raw/Germany/2020_data_15min.hdf5
DataCleaning/raw/Germany/2020_weather.hdf5
FoundationalModels/chronos-2-finetuned/2026-03-04_17-10-48/finetuned-ckpt/config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-10-48/finetuned-ckpt/model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-11-21/finetuned-ckpt/config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-11-21/finetuned-ckpt/model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-11-54/finetuned-ckpt/config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-11-54/finetuned-ckpt/model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-15-28/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-15-28/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-15-28/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_17-15-59/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-15-59/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-15-59/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_17-16-25/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-16-25/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-16-25/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_17-46-11/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-46-11/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-46-11/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_17-46-45/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-46-45/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-46-45/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_17-47-11/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-47-11/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-47-11/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_17-52-39/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-52-39/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-52-39/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_17-53-10/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-53-10/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-53-10/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_17-53-36/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_17-53-36/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_17-53-36/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-44-32/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-44-32/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_18-44-32/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-44-49/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-44-49/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_18-44-49/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-45-06/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-45-06/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_18-45-06/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-48-24/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-48-24/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_18-48-24/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-48-41/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-48-41/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_18-48-41/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-48-58/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-48-58/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_18-48-58/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-51-17/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-51-17/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_18-51-17/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-51-34/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-51-34/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_18-51-34/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-51-51/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-51-51/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_18-51-51/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-56-39/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-56-39/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_18-56-39/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-56-56/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-56-56/finetuned-ckpt/adapter_model.safetensors
FoundationalModels/chronos-2-finetuned/2026-03-04_18-56-56/finetuned-ckpt/README.md
FoundationalModels/chronos-2-finetuned/2026-03-04_18-57-12/finetuned-ckpt/adapter_config.json
FoundationalModels/chronos-2-finetuned/2026-03-04_18-57-12/finetuned-ckpt/adapter_model.safetensors
Models/Chronos2_LORA_Germany/adapter_config.json
Models/Chronos2_LORA_Germany/adapter_model.safetensors
Models/Chronos2_LORA_Germany/config.json
Models/Chronos2_LORA_Germany/meta.json
Models/Chronos2_LORA_Germany/model.safetensors
Models/Chronos2_LORA_Germany/README.md
Models/Chronos2_LORA_Germany_steps10/adapter_config.json
Models/Chronos2_LORA_Germany_steps10/adapter_model.safetensors
Models/Chronos2_LORA_Germany_steps10/meta.json
Models/Chronos2_LORA_Germany_steps10/README.md
Models/Chronos2_LORA_Ireland/adapter_config.json
Models/Chronos2_LORA_Ireland/adapter_model.safetensors
Models/Chronos2_LORA_Ireland/config.json
Models/Chronos2_LORA_Ireland/meta.json
Models/Chronos2_LORA_Ireland/model.safetensors
Models/Chronos2_LORA_Ireland/README.md
Models/Chronos2_LORA_Ireland_steps10/adapter_config.json
Models/Chronos2_LORA_Ireland_steps10/adapter_model.safetensors
Models/Chronos2_LORA_Ireland_steps10/meta.json
Models/Chronos2_LORA_Ireland_steps10/README.md
Models/Chronos2_LORA_Portugal/adapter_config.json
Models/Chronos2_LORA_Portugal/adapter_model.safetensors
Models/Chronos2_LORA_Portugal/config.json
Models/Chronos2_LORA_Portugal/meta.json
Models/Chronos2_LORA_Portugal/model.safetensors
Models/Chronos2_LORA_Portugal/README.md
Models/Chronos2_LORA_Portugal_steps10/adapter_config.json
Models/Chronos2_LORA_Portugal_steps10/adapter_model.safetensors
Models/Chronos2_LORA_Portugal_steps10/meta.json
Models/Chronos2_LORA_Portugal_steps10/README.md
Models/Chronos2_LORA_Portugal_steps10/
# ================================
# External repositories / models
# ================================
lag-llama/
/timesfm/
uni2ts/

# ================================
# Generated outputs
# ================================
Models/


GlobalModels/lightning_logs/
LocalModels/lightning_logs/
LocalModels/catboost_info/


# ================================
# Large ML artifacts
# ================================
*.safetensors
*.ckpt
*.pt
*.bin

# ================================
# Notebook junk
# ================================
.ipynb_checkpoints/

# ================================
# Python cache
# ================================
__pycache__/
*.pyc
data/outputs/final_predictions_10_houses and 4 steps.csv
data/outputs/final_predictions_10_houses and 96 steps.csv
data/outputs/final_predictions_20_houses and 4 steps.csv
data/outputs/final_predictions_20_houses and 96 steps.csv
data/outputs/opt_parameters for 10nr. houses and 4 steps.json
data/outputs/opt_parameters for 10nr. houses and 96 steps.json
data/outputs/opt_parameters for 20nr. houses and 4 steps.json
data/outputs/opt_parameters for 20nr. houses and 96 steps.json
data/plots/actual vs predictions for 10 nr. houses and 4 steps.png
data/plots/actual vs predictions for 10 nr. houses and 96 steps.png
data/plots/actual vs predictions for 20 nr. houses and 4 steps.png
data/plots/actual vs predictions for 20 nr. houses and 96 steps.png
DataCleaning/clean/net_load_10_buildings.csv
DataCleaning/clean/net_load_20_buildings.csv
DataCleaning/clean/weather.csv
time_spend.json
